---
layout: default
---

<img src="{{site.imageurl}}/main_meeting.jpg" alt="Scout meeting" class="u-full-width twelve columns"/>
<div style="margin-left: 0;" class="twelve columns">
<h2>Scouting</h2>

<p>You may recognize scouts for "being prepared" or outdoorsy, but there is
much more to it than that. The mission of scouting is to preparing youth for
life! To prepare scouts to make good choices, the scouting program focuses
on character development, leadership development, citizenship training, and
personal fitness. Our scouting units are blessed to be part of Community
Bible Church... so preparing youth for life definitely includes their
eternal life! Scouting provides a great opportunity to practice and discuss
our duty to God.</p>
</div>


<ul>
{% for post in site.posts limit:3 %}
{% include post_snippet.html
    title=post.title
    url=post.url
    pretty_date=post.pretty_date
    excerpt=post.excerpt
    primary_image=post.primary_image
    primary_image_alt=post.primary_image_alt
%}
{% endfor %}
</ul>
