<div class="row post-snippet">
    <div class="six columns smaller-than-tablet-stacked">
        <h2><a href="{{include.url | relative_url}}">{{include.title}}</a></h2>
        <p>{{include.post_date | date_to_long_string}}</p>
        <p>{{include.content | strip_html | truncatewords:75}}</p>
    </div>
    <div class="six columns smaller-than-tablet-stacked">
        <img src="{{site.imageurl}}/{{include.primary_image}}" alt="{{include.primary_image_alt}}" class="u-full-width"/>
    </div>
</div>
