a {
  text-decoration: none;
  background-color: #fff;
  color: blue;
}
ul a {
  text-decoration: none;
  background-color: #fff;
  color: rgb(68, 68, 68);
  font-weight: 900;
}
.container ul li a {
  text-decoration: none;
  background-color: #ce1126;
  padding-bottom: 1px;
  color: #ffffff;
  font-size: 0.7em;
}
.title{
  margin-top: 10px;
  margin-bottom: 10px;
}
p{
  font-size: large;
}
h1 {
  font-size: 1em;
}
h2 {
  text-decoration: none;
  background-color: #fff;
  margin-bottom: 10px;
}
header{
  margin-bottom: 1em;
}
.banner {
  background-color: #003f87;
  color: #ffffff;
}
nav {
  background-color: #ce1126;
  color: #ffffff;
  padding-bottom: 0px;
}
nav ul {
  padding: 0;
  padding-bottom: 5px;
  margin-block-end: 0;
  list-style: none;
}
nav li {
  display: inline;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  padding-right: 15px;
  font-weight: bolder;
}
.logo {
  float: left;
  overflow: hidden;
}
blockquote {
  background-color: darkgreen;
  color: #fff;
  padding: 1em;
  margin-left: 10px;
}
blockquote p {
  margin: 0;
}
.blog_photo {
  float: left;
  padding-right: 1em;
}
.photo {
  float: none;
  top: 0;
}
.copy {
  color: black;
  text-align: center;
}
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap{
  padding-bottom: 10em;
}
footer {
  bottom: 0;
  position: absolute;
  width: 100%;
}
