$scouting-blue: #003f87;
$scouting-dark-blue: #003366;
$scouting-dark-gray: #232528;
$scouting-dark-tan: #ad9d7b;
$scouting-light-tan: #e9e9e4;
$scouting-pale-blue: #9ab3d5;
$scouting-pale-gray: #858787;
$scouting-red: #ce1126;
$scouting-tan: #d6cebd;
$scouting-warm-gray: #515354;
$scouting-white: #ffffff;

a {
  color: $scouting-blue;
  font-weight: 900;
  text-decoration: none;
}
a:hover {
  color: $scouting-blue;
}
blockquote {
  background: $scouting-light-tan;
  border-left: 1rem solid $scouting-dark-gray;
  margin: 2.25rem 1.5rem;
  padding: 0.75rem 1.5rem;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $scouting-dark-gray;
  content: open-quote;
  font-size: 6rem;
  line-height: 0.6rem;
  margin-right: 1rem;
  vertical-align: -2.4rem;
}
blockquote p {
  display: inline;
}
footer {
  background: no-repeat bottom/100% url($imageurl + "/scout_footer.jpg");
  bottom: 0;
  height: 22.5rem;
  position: absolute;
  width: 100%;
}
header {
  color: $scouting-white;
  margin-bottom: 2.5rem;
}
header a {
  color: $scouting-white;
}
header a:hover {
  color: $scouting-light-tan;
}
nav {
  background-color: $scouting-red;
}
nav a {
  font-size: 2rem;
  font-weight: bolder;
  padding-right: 1.5rem;
}
nav li {
  display: inline;
}
nav ul {
  list-style: none;
  margin: 0.2rem;
}
main {
  font-size: 1.8rem;
}
.banner {
  background-color: $scouting-blue;
}
.banner h1 {
  margin: 1rem 0;
}
.banner .logo {
  margin: 1rem 0;
  overflow: hidden;
  width: 6rem !important;
}
.content-wrap {
  padding-bottom: 22rem;
}
.page-container {
  min-height: 100vh;
  position: relative;
}
.post-snippet {
  margin-top: 3rem;
}
.u-center {
  text-align: center;
}
.wide-photo {
  box-sizing: border-box;
  max-width: 100%;
  padding: 2.5rem 0;
}
.square-photo-right {
  // aspect-ratio: 1; TODO: uncomment after images are adjusted
  box-sizing: border-box;
  width: 300px;
  float: right;
  margin: 0 0 2.5rem 2.5rem;
}
.banner-photo {
  box-sizing: border-box;
  aspect-ratio: 96/30;
  width: 100%;
  margin: 0 0 2.5rem 0;
}

@media (max-width: 550px) {
  .logo {
    display: none;
  }
}
@media (max-width: 1000px) {
  .smaller-than-tablet-stacked {
    width: 100% !important;
    margin-left: 0;
  }
}
