<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">  
    <meta name="keywords" content="troop 226, troop 226g, pack 226, troop, pack, 226, 226g, scouts, scouting, cbc">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link  rel="stylesheet" text="text/scss" href="{{'/assets/css/main.css' | relative_url}}">
    <title>{{page.title | default: "Scouts 226"}}</title>
</head>

<body>
    <div class="twelve columns">
        <header class="main-header">
            <div class="container" style="overflow: hidden;">
                <h1 id="title" class="ten columns">Scouts 226</h1>
                <img src="{{site.imageurl}}/logo.png" height="60px" width="60px" class="logo u-pull-right">
            </div>
        </header>
        <nav class="navbar">
            <div class="container">
                <ul class="twelve columns">
                    <li><a href="{{'/' | relative_url}}">Home</a></li>
                    <li><a href="{{'/about.html' | relative_url}}">About</a></li>
                    <li><a href="{{'/stories.html' | relative_url}}">Stories</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div id="main" class="container">
        {{content}}
    </div>
    <div id="page-container">
        <footer id="footer">
            <p class="copy">Copyright &copy; 2021</p>
            <img class="twelve columns" src="{{site.imageurl}}/scout_footer.jpg">
        </footer>
    </div>
</body>

</html>
