<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="keywords"
      content="troop 226, troop 226g, pack 226, troop, pack, 226, 226g, scouts, scouting, cbc"
    />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link
      rel="stylesheet"
      text="text/scss"
      href="{{'/assets/css/main.css' | relative_url}}"
    />
    <title>{{page.title | default: "Scouts 226"}}</title>
  </head>
  <body>
    <div class="page-container">
      <div class="content-wrap">
        <header>
          <div class="banner">
            <div class="container" style="overflow: hidden">
              <div class="row">
                <h1 class="title ten columns">Scouts 226</h1>
                <img
                  src="{{site.imageurl}}/logo.png"
                  height="60px"
                  width="60px"
                  class="logo u-pull-right two columns"
                />
              </div>
            </div>
          </div>
          <nav>
            <div class="container">
              <div class="row">
                <ul class="twelve columns">
                  <li><a href="{{'/' | relative_url}}">Home</a></li>
                  <li><a href="{{'/about.html' | relative_url}}">About</a></li>
                  <li>
                    <a href="{{'/stories.html' | relative_url}}">Stories</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </header>
        <main class="container">{{content}}</main>
      </div>
      <footer>
        <p class="row u-center">Copyright &copy; 2021</p>
      </footer>
    </div>
  </body>
</html>
